#wrapwrap .s_cover_roomdoo {
    h1 {
        padding-bottom: 42px;
        font-size: 78px;
        font-weight:700;
    }
    .text-cover {
        max-width:50%;
        font-size: 24px;
    }
    a {
        padding-top:1rem; 
        border-bottom: thick solid;
        font-size: 24px;
    }
    .img_background {
        background-position: right; 
        background-size:initial; 
        background-repeat:no-repeat;
    }
    
}
@media screen and (max-width: 768px) {

    #wrapwrap .s_cover_roomdoo {
        h1 {
            padding-bottom: 24px;
            font-weight:700;
        }
        .text-cover {
            max-width:50%;
            font-size: 14px;
        }
        a {
            padding-top:1rem; 
            border-bottom: thick solid;
            font-size: 24px;
        }
    }
    
}