// Restore text-success color for website_sale "wizard" (checkout breadcrumb)
// Hopefully remove this with improvements of saas-17
.oe_website_sale .wizard .text-success {
    color: #5CB85C;
}

#wrapwrap {
    overflow-x: hidden;
}

// Backgrounds Images

@include o-theme-chd-bg-img-classes(
    $bg2: ( linear-gradient( rgba(black, 0.8), rgba(black, 0.2) ), $o-theme-bg-img-02),
    $bg3: ( linear-gradient( rgba(black, 0.6), rgba(black, 0.7) ), $o-theme-bg-img-03),
    $bg6: ( linear-gradient( rgba(black, 0.3), rgba(black, 0.75) ), $o-theme-bg-img-06)
);

@mixin o-bg-blur-styles($color: white) {
    background-size: cover;
    background-attachment: fixed;
    .fa, h1, h2, h3, h4, h5, h6, p {
        color: $color;
    }
    .text-muted {
        color: theme-color('alpha');
    }
}

// Price List
.price {
    font-size: 50px;
}

// popover
.popover, .popover-title {
    color: palette-theme-color('secondary');

}

// hr
hr {
    border-top: 1px solid gray('700');
}

// Navbar

.navbar-light .navbar-nav .nav-link.active {
    color: theme-color('primary');
}
.navbar .nav-item > .nav-link.active {
    color: theme-color('primary') !important;
    font-weight: bolder;
}
.navbar .nav-item > .nav-link {
    font-weight: 400;
}

.space_navbar {
    margin: 1rem 0rem 1rem 2rem;
    font-weight: 400;
    font-size: 1.2rem;
    font-weight: bolder;
}
// Footer

footer {
    h1, h2, h3, h4, h5, h6 {
        color: palette-theme-color('secondary');
        text-transform: uppercase;
    }
}

@if $o-theme-layout == 'boxed' {
    #wrapwrap {
        @include media-breakpoint-up(md) {
            margin: 0 auto;

            .container {
                max-width: 100%;
            }
        }
    }
}
header .navbar-brand {
    max-width: 60%;
}